#cards {
  margin: auto;
  padding: 3rem 0;
  width: 600px;

  .card {
    background-color: grey;
    background-image: url("images/logo-oclock.jpeg ");
    background-position: center center;
    background-size: 110px;
    border: 2px solid rgb(21, 16, 0);
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    height: 110px;
    margin: 0.5rem;
    opacity: 0.9;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 80px;

    &:hover {
      opacity: 1;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    &.disabled {
      background: #5e9d07;
      border: 2px solid transparent;
      cursor: default;
      pointer-events: none;
      box-shadow: none;
    }

    &.image-1 {
      background: url("images/cards.png") 40% 10px;
    }

    &.image-2 {
      background: url("images/cards.png") 40% -90px;
    }

    &.image-3 {
      background: url("images/cards.png") 40% -190px;
    }

    &.image-4 {
      background: url("images/cards.png") 40% -290px;
    }

    &.image-5 {
      background: url("images/cards.png") 40% -390px;
    }

    &.image-6 {
      background: url("images/cards.png") 40% -490px;
    }

    &.image-7 {
      background: url("images/cards.png") 40% -590px;
    }

    &.image-8 {
      background: url("images/cards.png") 40% -690px;
    }

    &.image-9 {
      background: url("images/cards.png") 40% -790px;
    }

    &.image-10 {
      background: url("images/cards.png") 40% -890px;
    }

    &.image-11 {
      background: url("images/cards.png") 40% -990px;
    }

    &.image-12 {
      background: url("images/cards.png") 40% -1090px;
    }

    &.image-13 {
      background: url("images/cards.png") 40% -1190px;
    }

    &.image-14 {
      background: url("images/cards.png") 40% -1290px;
    }

    &.image-15 {
      background: url("images/cards.png") 40% -1390px;
    }

    &.image-16 {
      background: url("images/cards.png") 40% -1490px;
    }

    &.image-17 {
      background: url("images/cards.png") 40% -1590px;
    }

    &.image-18 {
      background: url("images/cards.png") 40% -1690px;
    }
  }
}
